.square {
  border: 1px solid black;
  background-color:burlywood;
  width: 33px;
  height: 33px;
}

.board {
  display: grid;
  border: 1px solid red;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

