@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {  
  background: linear-gradient(45deg, rgba(42,17,60,1) 0%, rgba(236,199,218,1) 50%, rgba(181,203,231,1) 100%);
}
.square {
  font-size: 22px;
  color: #fdc883;
  border: 1px solid rgb(100, 74, 41);
  margin: 3%;
  width: 33px;
  height: 33px;
  background-color: transparent;
}

#root{
  font-family: "Comfortaa", monospace;
  display: grid;
}
.board {
  display: grid;
  border: 2px solid rgb(82, 50, 10);
  margin: 1px;
  padding: 1px;
  width: auto;
  height: auto;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  background-color:rgb(161, 134, 99);
}

.boardBlocked{
  background-color:rgba(75, 63, 48, 0.788);
}
.game {
  display: grid;
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  border-radius: 3%;
  padding: 1%;
  justify-self: center;
  box-shadow: 2px 2px 22px 2px #7C410A;
  margin-top: 10%;
}

.winnerName {
  font-size: 77px;
  font-weight: 369;
  position: absolute;
  align-self: center;
  justify-self: center;
  color: white;
}

.gameOverText {
  position: relative;
  font-size: 22px;
  align-self: center;
  justify-self: center;
  color: rgb(192, 93, 12);
}
.bigBoard {
  grid-gap: 1%px;
  border-radius: 2%;
  padding: 0.25%;
}

.character-select {
  display: grid;
  width: fit-content;
  height: fit-content;
  align-self: center;
  grid-template-columns: repeat(6, auto);
  padding: 3%;
  border: 2px solid rgb(102, 60, 6);
  border-radius: 3%;
  box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.33);
  background-color: #917a67;
}

