.square {
  border: 1px solid black;
  width: 33px;
  height: 33px;
  background-color: transparent;
}

.board {
  display: grid;
  border: 1px solid red;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  background-color:burlywood;
}

.boardBlocked{
  background-color:rgb(139, 117, 87);
}

.winnerName {
  position: absolute;
  align-self: center;
  justify-self: center;
  color: white;
}

.bigBoard {
  grid-gap: 3px;
}

